*
{
    cursor: url('/cursor-knife.png'), pointer;
}

body{
    background-image: url('/');
    background-repeat: no-repeat;
}

.container1
{
height: 350px;
width: 350px;
display: inline-flex;
align-items: center;
justify-content: center;
margin-top: 20px;
position: relative;
}

.img-c1
{
height: 150px;
width: 150px;
transition: transform 1s ease;
padding: 0;
opacity: 100%;
margin-left: 100px;
z-index: 1;
position: absolute;
object-fit: contain;
object-position: center;
}

.img-c1:hover
{
transform: scale(1.5);
transition: transform 0.7s ease, filter 0.5s ease;
filter: drop-shadow(1px 1px 5px);
opacity: 100%;
}

.brdr
{
    height: 250px;
    margin-left: 100px;
}

.logo-c
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
